<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>AppNexus Native Gallery</title>
        <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no"/>
        <!-- <link href="https://vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">-->
        <style>
            * {
                margin: 0;
                padding: 0;
                border: 0;
            }

            body {
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: 16px;
                max-width: 960px;
                margin: 0 auto;
            }

            footer {
                margin: 0 0 20px 0;
                text-align: center;
                font-size: 0.8em;
                font-style: italic;
                color: #999;
            }

            .page-header {
                padding: 45px 0 25px 0;
            }

            .page-header h1 {
                text-align: center
            }

            .inline-monospace {
                font-family: monospace;
            }

            .intro {
                border-bottom: 1px solid #d4d4d4;
                padding-bottom: 20px;
            }

            .intro p {
                margin: 13px 0;
            }

            .intro h2 {
                margin: 21px 0;
            }

            .intro .code-snippet {
            }

            .native-gallery-item {
                margin: 20px 0;
                padding-bottom: 20px;
                border-bottom: 1px solid #d4d4d4;
                display: flex;
                flex-flow: row wrap;
            }

            .native-gallery-item:last-of-type {
                border-bottom: 0;
            }

            .native-gallery-item h2 {
                margin-bottom: 21px;
                width: 100%;
                flex: 1 100%;
            }

            .native-gallery-rendering-sample {
                flex: 1;
                padding: 5px 5px 5px 0;
            }

            .native-gallery-code-section {
                flex: 1;
                display: flex;
            }

            .native-gallery-code-snippet {
                flex: 1;
            }

            .native-gallery-code-block {
                resize: none;
                width: 100%;
                height: 300px;
                font-family: monospace;
                font-size: 0.8em;
                outline: none;
                background: #f0f0f0;
            }

            .native-gallery-copy-btn {
                font-size: 1em;
                padding: 3px;
                border: 1px solid #000;
                background-color: #eee;
                cursor: pointer;
                position: relative;
                top: -30px;
            }

            .native-gallery-copy-btn:hover {
                background-color: #fff;
            }
            
            #haircut {
	            margin-top: 0;
            }

        </style>
        <!--<script src="https://vjs.zencdn.net/5.19/video.min.js"></script>-->
    </head>
    <body>
        <header class='page-header'>
            <h1>Native Ad Gallery</h1>
        </header>
        <article class='intro'>
            <p>
                This is a gallery of sample native creative renderings. These samples are meant to demonstrate the flexibility of the native format and the kinds of rendering possible with an AppNexus native response payload. To the right of each sample you will find a code snippet that you can copy and paste into your content - this snippet will serve a live sample ad.
            </p>
            <section>
                <h2>How to use the code snippets</h2>
                <p>
                    To use the code snippets in this gallery you will need to add the following script into the <span class='inline-monospace'>&lt;head&gt;</span> element of your page. This will ensure that the page makes the ad call to our sample native creative.
                </p>
                <section class='code-snippet'>
                    <textarea class='native-gallery-code-block' readonly>{{render-script adCall}}</textarea>
                    <button class='native-gallery-copy-btn' type='button' title='Click to copy to your clipboard'>
                        Copy
                    </button>
                </section>
                <p id='haircut'>
                    After you have pasted this script into <span class='inline-monospace'>&lt;head&gt;</span>, paste the desired code snippet onto your page where you want it to appear - this script is self-contained and will render in-stream.
                </p>
            </section>
        </article>
    {{#each items}}
        <article class='native-gallery-item'>
            <h2>{{title}}</h2>
            <section class='native-gallery-rendering-sample'>
                {{interpolate-ad-markup}}
            </section>
            <section class='native-gallery-code-section'>
                <div class='native-gallery-code-snippet'>
                    <textarea class='native-gallery-code-block' readonly><script type="text/javascript">
{{interpolate-ad-code}}
</script></textarea>
                    <button class='native-gallery-copy-btn' type='button' title='Click to copy to your clipboard'>
                        Copy
                    </button>
                </div>
            </section>
        </article>
    {{/each}}
        <footer>
            &copy; 2017 AppNexus Inc. All Rights Reserved
        </footer>
        <script>
            function locateTextArea(button) {
                return button.previousElementSibling;
            }

            function copyContentToClipboard(textarea) {
                textarea.select();

                try {
                    var success = document.execCommand('copy');
                    console.log('Copy to clipboard', success ? 'successful' : 'unsuccessful');
                } catch(error) {
                    console.error('There was an issue copying to clipboard', error);
                }

                window.getSelection().removeAllRanges();
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('.native-gallery-copy-btn').forEach(function(button) {
                    button.addEventListener('click', function(e) {
                        copyContentToClipboard(locateTextArea(e.target));
                    });
                });
            });
        </script>
    </body>
</html>