<div class='an-native-ad stacked stacked-text'>
    <header class='an-native-headline'>{{title}}</header>
    <div class='an-native-body'>
        {{body}}
    </div>
    <div class='an-native-sponsor-wrapper'>
        <span class='an-native-sponsor-label'>Sponsored by:</span> <span class='an-native-sponsor'>{{sponsor}}</span>
    </div>
</div>