<div class='an-native-ad stacked modal-video'>
    <a class='an-native-modal-link' href='#'>
        <img class='an-native-img' src='{{imgSrc}}' width='200' height='150' /> 
    </a>
    <header class='an-native-headline'>{{title}}</header>
    <div class='an-native-sponsor-wrapper'>
        <span class='an-native-sponsor-label'>Sponsored by:</span> <span class='an-native-sponsor'>{{sponsor}}</span>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // code that actually makes the modal go
        });
    </script>
</div>